@media screen and (min-width:600px), screen and (min-width:739px) {
	.foo {
		color:red;
	}
}

@media screen and (min-width:42px), screen and (min-width:4177px) {
	.bar {
		color:green;
	}
}

@media screen and (min-width:128px), screen and (min-width:637px) {
	.baz {
		color:blue;
	}
}

@media screen and (min-height:600px), screen and (min-height:739px) {
	.foo {
		color:red;
	}
}

@media screen and (min-height:42px), screen and (min-height:4177px) {
	.bar {
		color:green;
	}
}

@media screen and (min-height:128px), screen and (min-height:637px) {
	.baz {
		color:blue;
	}
}

@media screen and (min-width:100vh), screen and (min-width:100%) {
	.foo {
		color:red;
	}
}

@media screen and (min-height:100vh), screen and (min-height:100%) {
	.baz {
		color:blue;
	}
}
